*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-style: normal;
  font-weight: $fw-default;
  font-size: $fz-default;
  line-height: $lh-default;
  font-family: $ff-main;
  color: $color-black;
  overflow-x: hidden;
  /* stylelint-disable */
  height: -webkit-fill-available;
  /* stylelint-enable */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // оптимизация выравнивания шрифта относительно центра строки
  text-rendering: optimizeLegibility;
  // если по прежнему есть проблемы с выравниванием
  // https://transfonter.org/ - включите настройку https://prnt.sc/12rnt6g и переконвертируйте шрифт
}

body {
  width: 100vw;
  height: 100%;
  background-color: $color-ghost-white;
  /* stylelint-disable */
  min-height: -webkit-fill-available;
  /* stylelint-enable */
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
