.intro {
  margin-bottom: 70px;
}

.intro__btn {
  padding: 20px 30px;
  width: fit-content;
  font-size: 16px;
  font-weight: 500;
  border: $color-deep-bisque;
  border-radius: 5px;
  background-color: $color-bisque;
  cursor: pointer;
  transition: all 0.3s;
}