.movies__list {
  list-style-type: circle;
}

.movies__item {
  display: grid;
  grid-template-columns: 1fr 60px;
  border-bottom: 1px solid $color-ghost-grey;
}

.movies__form {
  display: flex;
  align-items: center;
  gap: 20px;
}

.movies__input {
  min-width: 300px;
}

.movies__input,
.movies__add {
  padding: 10px;
  border: $color-grey;
  border-radius: 5px;
}

.movies__add {
  color: $color-white;
  background-color: $color-grey;
  cursor: pointer;
}

.movies__icon {
  width: 30px;
  height: 30px;
}